body{
    font-family: 'Barlow Semi Condensed', sans-serif;

    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img{
    padding: 50px 0 50px 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 15rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

#responsive {
    width: 100%;
    height: auto;
}